/********************NAVBAR***************************/

.barrenavig {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bloc-logo {
    width: auto;
}

.bloc-menu {
    width: auto;
}

.bloc-menu a {
    color: black;
}

.bloc-menu a:hover {
    font-weight: 700;
    font-size: 13px;
}

.menu-item {
    align-self: center;
}




/*******************FORMULAIRE COMMANDE************************/

.formulairecorps {
    width: 100%;
    height: auto;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloc1 {
    display: flex;
    flex-direction: row;
    gap: 23px;
    margin-top: 10px;
    }
    
.bloc-nbfr {
    width: 25%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    }
    
.blocnbr {
    width: 45%;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-self: center;
    }
    
.zonenbr {
    width: 60%;
    background-color: #ffffff;
    border-radius: 7px 0px 0px 7px;
    overflow: hidden;
    }

    .zonenbr .wpcf7-form-control {
        height: 56px;
}
    
.zoneboutons {
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: #DC9F96;
    border-radius: 0px 7px 7px 0px;
    }
    
.zoneplus {
    width: 100%;
    height: 50%;
    text-align: center;
    align-self: center;
    }
    
.zonemoins {
    width: 100%;
    height: 50%;
    border-top: solid 1px #ffffff;
    text-align: center;
    align-self: center;
    }
    
.blocok {
    width: 55%;
    background-color: #E0B9B4;
    border-radius: 7px;
    text-align: center;
    align-self: center;
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 16px;
    transition: 300ms;
    }

.blocok:hover {
    background-color: #C02E44;
    transition: 300ms;
}
    
    
.bloc2 {
    display: flex;
    flex-direction: row;
    border-top: solid 1px #ffffff;
    margin-top: 40px;
    margin-bottom: 60px;
    padding-top: 50px;
    
    }
    
.bloc2 h3 {
    color: #ffffff;
    font-size: 30px;
    margin-bottom: 30px;
    }
    
.bloc-vosinfos {
    width: 50%;
    padding-right: 40px;
    border-right: solid 1px #ffffff;
    }
    
.bloc-livraison {
    width: 50%;
    padding-left: 40px;
    }

.comfield {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 71px;
    background-color: #ffffff;
    border-radius: 7px;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.boutontCom {
    position: relative;
    margin-right: -70px;
}




            /************************** Media queries *****************************************************/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .cont-pdng {
        padding-left: 30px;
        padding-right: 30px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    /********************NAVBAR***************/

    .barrenavig {
        display: flex;
        flex-direction: column;
    }
    
    .bloc-logo {
        width: 100%;
        align-items: center;
    }
    
    .bloc-menu {
        width: 100%;
        align-items: center;
    }


    /*****************BODY****************/

    .cont-pdng {
        padding-left: 30px;
        padding-right: 30px;
    }

    .bloc-avis {
        margin-top: 30px;
    }

    .bloc-txtavis {
        margin: 30px;
    }

    .txt-avis,
    .txt-avis h4 {
        text-align: center;
    }

    .blocline-cmd {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        max-height: 128px;
        overflow: hidden;
    }


    .bloc-eqp {
        margin-top: 30px;
    }

        /**********FORM*******************************/
        .bloc-nbfrt {
            width: 22%;
        }

        .bloc-nbfrt h5 {
            font-size: 15px;
        }

        .bloc2 h3 {
            font-size: 20px;
        }


}